In [10]:
# Dependencies
# Create config.py folder in Visual Studio Code
# Run pip install psycopg2 in terminal

import pandas as pd
import matplotlib.pyplot as plt
from config import username, password
%matplotlib inline

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/sql_challenge')
connection = engine.connect()

In [11]:
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])

In [12]:
employees.head()

   emp_no emp_title_id birth_date  first_name  last_name sex  hire_date
0  473302        s0001 1953-07-25    Hideyuki   Zallocco   M 1990-04-28
1  475053        e0002 1954-11-18       Byong  Delgrande   F 1991-09-07
2   57444        e0002 1958-01-30       Berry       Babb   F 1992-03-21
3  421786        s0001 1957-09-28       Xiong   Verhoeff   M 1987-11-26
4  282238        e0003 1952-10-28  Abdelkader    Baumann   F 1991-01-18

In [13]:
employees.count()

emp_no          300024
emp_title_id    300024
birth_date      300024
first_name      300024
last_name       300024
sex             300024
hire_date       300024
dtype: int64

In [16]:
salary_data = pd.read_sql('select employees.emp_no', salaries.salary from employees.emp.no=salaries.emp_no,connection)
salary_data.head()

SyntaxError: invalid syntax (<ipython-input-16-b41657738d9c>, line 1)

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.

In [ ]:
# Create a bar chart of average salary by title.